/* styles.css */

/* 전체 테이블 스타일 */
table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #fff; /* 테이블 배경 색상 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 테이블 그림자 효과 */
    border-radius: 8px; /* 테이블 모서리 둥글기 */
    overflow: hidden; /* 테이블의 둥근 모서리 안으로 내용이 나오지 않도록 */
    margin-left: 0;
}
th, td {
    width: 50%; /* 날짜 열과 방문자 수 열을 각각 50%로 설정 */
}


/* 헤더 셀 스타일 */
th {
    background-color: #4c74af; /* 헤더 배경 색상 */
    color: white; /* 헤더 글자 색상 */
    padding: 12px;
    text-align: left;
    border-bottom: 2px solid #ddd; /* 헤더 하단 경계 */
    font-weight: bold;
}

/* 데이터 셀 스타일 */
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* 셀 하단 경계 */
}

/* 행 스타일 */
tr:nth-child(even) {
    background-color: #f2f2f2; /* 짝수 행 배경 색상 */
}

tr:hover {
    background-color: #f1f1f1; /* 호버 시 행 배경 색상 */
}

/* 테이블 경계 스타일 */
table {
    border: 1px solid #ddd; /* 테이블 전체 경계 */
}

/* 셀 경계 스타일 */
td, th {
    border-right: 1px solid #ddd; /* 셀 오른쪽 경계 */
}

td:last-child, th:last-child {
    border-right: none; /* 마지막 셀 오른쪽 경계 제거 */
}
